# Project: Task 1

##### Problem Description
ACE, a nationwide retail chain, has seen significant sales growth over the past two years. As the company prepares to expand into additional regions and optimise its current operations, senior leadership requires an introductory business intelligence report summarising key sales performance trends.
Your role as a newly onboarded data analyst is to perform an initial data exploration and create a report that answers foundational business questions using the attached sales dataset.
##### Business Impact
This report will serve as a baseline to identify regional performance gaps, customer behaviour patterns, and product category profitability, helping the executive team focus on high-impact areas in subsequent strategy sessions.

In [ ]:
#Import libraries
import pandas as pd
import seaborn as sns
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
# read Datasets
retail_data = pd.read_csv("Ace Superstore Retail Dataset.csv", encoding='latin1')
StoreLocations_data = pd.read_csv("Store Locations.csv", encoding='latin1')

## Assessing Data

In [32]:
retail_data.head(10)

,Order ID,Order Date,Order Mode,Customer ID,Postal Code,Product ID,Product Name,Category,Sub-Category,Sales,Cost Price,Quantity,Discount
0,BTC-245712,6/22/2024,Online,LO028977,S8,01JZ3N512GHNAJSF3HCCQ0PQYY,Flavored Popcorn Mix,Food - Snacks,Gourmet Snacks,2.99,0.897,4,0.24
1,NZR-891212,3/15/2024,In-Store,OH046670,DN36,01JZ3N56DDVK7Y600QGH2M6T1X,Olive Oil,Food - Condiments,Cooking Oils,7.99,2.397,16,0.32
2,TDN-811093,2/29/2024,Online,FH015492,RG20,01JZ3N53A64TW72TVK28SMMXKX,Children's Backpack,Accessories,Kids' Bags,29.99,8.997,2,0.09
3,MIX-746378,10/25/2024,In-Store,ZZ015342,BH21,01JZ3N572S4RVA29Y33YRWH174,Honey Butter Popcorn,Food - Snacks,Gourmet Snacks,2.99,0.897,4,0.01
4,UGI-201465,8/18/2024,Online,TV075977,LE15,01JZ3N52RT7CJNB27BFS6H8BF7,Sliced Cucumbers,Food - Produce,Fresh Cut Vegetables,1.29,0.387,11,0.34
5,YVL-326274,12/19/2024,In-Store,HL006234,BT66,01JZ3N52MN6K6ZBMB2S60Y6661,Roasted Garlic Pasta Sauce,Food - Sauces,Pasta Sauces,4.99,1.497,2,0.36
6,NAD-339602,2/18/2024,Online,AA070185,S8,01JZ3N53JE4J6GB3N22CPWCHED,Turkey Bacon,Food - Meat,Processed Meats,3.99,1.197,11,0.21
7,YEK-987428,2/7/2024,In-Store,EG051605,WC1B,01JZ3N52GWPC8JADTNSYW3Q2KW,Freestanding Wine Rack,Home,Home Organization,79.99,23.997,11,NaN
8,RWT-872441,6/18/2024,Online,UF034417,PH43,01JZ3N50NQCRTY15T5KFHYD594,Berries Medley,Food - Produce,Fresh Fruits,6.99,2.097,11,0.24
9,CPI-519592,1/23/2024,In-Store,CG060898,LS9,01JZ3N51V0YYJTCZB369CA5D23,Artisan Cornbread Mix,Food - Baking,Mixes,2.49,0.747,2,0.08

In [ ]:
retail_data.info()

In [ ]:
retail_data.describe()

In [ ]:
retail_data.info()

In [29]:
StoreLocations_data.head()

         City Postal Code  Country                  Region
0  Birmingham         B12  England           West Midlands
1  Birmingham         B40  England           West Midlands
2      Thorpe        BD23  England  Yorkshire & the Humber
3    Bradford         BD7  England  Yorkshire & the Humber
4    East End        BH21  England              North West

In [ ]:
StoreLocations_data.info()

## Data Cleaning

#### Remove the following columns because:

1. They exist in the store location table.
2. They also have some missing values in the retail table.

Columns: Region, City, Country

In [ ]:
retail_data.drop(columns=['Region', 'City', 'Country'], inplace=True)
retail_data.info()

#### Create a relationship between retail_data and StoreLocations_data

In [ ]:
merged_data = pd.merge(retail_data, StoreLocations_data, on='Postal Code', how='left')

In [28]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11000 entries, 0 to 10999
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      11000 non-null  object
 1   Order Date    11000 non-null  object
 2   Order Mode    11000 non-null  object
 3   Customer ID   11000 non-null  object
 4   Postal Code   11000 non-null  object
 5   Product ID    11000 non-null  object
 6   Product Name  11000 non-null  object
 7   Category      10802 non-null  object
 8   Sub-Category  11000 non-null  object
 9   Sales         11000 non-null  float64
 10  Cost Price    11000 non-null  float64
 11  Quantity      11000 non-null  int64
 12  Discount      10027 non-null  float64
 13  City          11000 non-null  object
 14  Country       11000 non-null  object
 15  Region        11000 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 1.3+ MB